.paragraph {
    font-size: 40px;
    color: blueviolet;
}

.mytext {
    background-color: aquamarine;
}

.container {
    background-color: red;
    width: 600px;
    height: 600px;
}

.circle {
    animation: time-flies 15s;
}

@keyframes time-flies {
    0% {
        stroke: green;
    } 100% {
        stroke: red;
    }
}