.paragraph {
    font-size: 40px;
    color: blueviolet;
}

.mytext {
    background-color: aquamarine;
}

.container {
    background-color: red;
    width: 600px;
    height: 600px;
}

.circle {
    stroke-dasharray: 1571;
    animation: time-flies 5s linear;
}

@keyframes time-flies {
    to {
        stroke-dashoffset: 1571;
    }
}