/*
.paragraph {
    font-size: 40px;
    color: blueviolet;
}

.mytext {
    background-color: aquamarine;
}

.container {
    background-color: red;
    width: 600px;
    height: 600px;
}

.circle {
    transform: rotate(90);
}
*/